[Unit]
Description=Update QuestControl Room Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/quest-room-agent-update
Nice=10
IOSchedulingClass=idle
